
.hidden{
    display: none;
}

.display{
    display: block;
}

.form-login-section {
    display: flex;
    justify-content: center;
}

.form-login-button {
    display: flex;
    justify-content: center;
}

.form-login-input-submit {
    border: 1px solid greenyellow;
}

.form-login-input {
    border: 1px solid black;
}

